@font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: normal;
    src: url("./assets/Vazir.ttf");
}
*{
    font-family: Vazir;
}
.focus-btn {
    border: 1px solid #6868f0;
    background-color: #6868f0;
    color: #fff;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;

}

.focus-btn:focus {
    /*outline: hidden;*/
    border-color: #007aa3;
    background-color: #007aa3;
    box-shadow: 0 0 0 3px rgba(0, 122, 163, 0.5);
}
/*.focus-btn:hover{*/
/*    border-color: #cf165d;*/
/*    background-color: #cf165d;*/

/*}*/