.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100px;

}

.item3 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 4;
    height: auto;
}
